@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #051c2a;
  --aux: #eb008b;
  --aux--light: #f075be;
}

.App {
  width: 100%;
  height: 100%;
  transition: all 0.1ms ease-in-out;
  background-color: var(--main);
}

header {
  width: 100%;
  height: 500px;
  background-color: transparent;

  .top {
    height: 100px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .logo {
      width: 100px;
      height: 100px;

      img {
        height: 100px;
        width: 100px;
        animation: header 2.5s ease-in forwards;
      }
    }
    .left {
      position: absolute;
      left: 2.5%;
    }
  }
  .header--anim {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .anim--txt {
      svg path:nth-child(1) {
        animation: fill 2.5s ease-in-out forwards;
      }
      svg path:nth-child(2) {
        fill: transparent;

        stroke-width: 1.5px;
        transition: 0.5s ease-in-out;
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        animation: svg 2.5s ease-in-out forwards;
        animation-delay: 1.5s;
        animation-iteration-count: 1;
        /* animation: fill 2.5s ease-in-out forwards; */
      }
    }
  }
}

@keyframes svg {
  0% {
    stroke-dashoffset: 500;
    stroke: var(--aux);
    stroke-width: 2.5;
  }
  25% {
    stroke-dashoffset: 450;
    stroke-width: 2.5;
  }
  50% {
    stroke-dashoffset: 300;
    stroke: var(--aux);
    stroke-width: 2.5;
  }
  75% {
    stroke-dashoffset: 400;
    stroke: var(--aux);
    stroke-width: 2.5;
  }
  80% {
    stroke-dashoffset: 100;
    opacity: 0.5;
    stroke: white;
    stroke-width: 2.5;
  }
  95% {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: var(--aux);
    stroke-width: 2.5;
  }
  100% {
    animation-delay: 2.5s;
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: transparent;
    stroke-width: 2.5;
    fill: var(--aux--light);
  }
}
@keyframes fill {
  from {
    fill: transparent;
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    fill: transparent;
    transform: translateY(-20%);
    opacity: 0;
  }
  75% {
    fill: white;
    transform: translateY(-5%);
    opacity: 1;
  }

  to {
    fill: white;
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes header {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  75% {
    transform: translateY(0%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (max-width: 450px) {
  .App {
    width: 100%;
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  header {
    width: 100%;
    height: 350px;
    .top {
    }
  }

  .header--anim {
    .anim--txt {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 80%;
        display: flex;
      }
    }
  }

  main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
    padding: 0px 15px;
  }

  .headlines {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    margin-bottom: 25px;
    /* background: white; */
    .news {
      width: 100%;
      height: 475px;
      display: flex;
      flex-direction: column;
      background-color: transparent;
      /* opacity: 0.4; */
      justify-content: space-evenly;
      align-items: center;

      .banner {
        width: 100%;
        height: 400px;
        background-color: #f075be;
        opacity: 0.3;
        border-radius: 15px;
      }
      .controller {
        width: 100%;
        height: 50px;
        margin-bottom: 0px;
        background-color: #f075be;
        opacity: 0.3;
        border-radius: 20px;
      }
    }
    .upcoming--game {
      width: 100%;
      flex: 1;
      height: 100%;
      background-color: #f075be;
      opacity: 0.3;
      border-radius: 20px;
    }
  }
  .fixtures {
    width: 100%;
    height: 650px;
    .card--holder {
      width: 100%;
      height: 100%;
      flex-direction: column;
      position: relative;
      /* overflow-x: hidden; */
      .title {
        position: absolute;
        font-family: "Oswald", sans-serif;
        font-size: 35px;
        padding-top: 5px;
        padding-left: 12px;
        font-weight: 500;
        color: var(--aux);
      }

      .cards {
        position: absolute;
        width: 100%;
        height: 500px;

        top: 15%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 20px;

        .card {
          background: white;
          border-radius: 8px;
          display: grid;
          grid-row: auto;

          .card--match--info {
            padding: 0px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "work sans", sans-serif;

            .teams {
              font-family: "work sans", sans-serif;
              color: var(--main);
              font-size: 25px;
              font-weight: 600;
            }
            span {
              font-family: "work sans", sans-serif;
              color: var(--main);
              font-size: 20px;
              font-weight: 600;
            }
          }
          .card--scoreline {
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              font-family: "oswald", sans-serif;
              color: var(--main);
              font-size: 50px;
              font-weight: 600;

              span {
                color: var(--aux--light);
              }
            }
          }
        }
      }
    }
  }
  .club--info {
    width: 100%;
    height: 1430px;
    /* background-color: white;
    opacity: 0.4; */
    margin-bottom: 25px;
    .club--info--container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      gap: 20px;
      background: none;
      .title {
        font-family: "oswald", sans-serif;
        font-size: 35px;
        color: var(--aux);
        font-weight: 600;
        padding-top: 5px;
        padding-left: 12px;
      }

      .table {
        width: 100%;
        height: 350px;
        background-color: white;
        color: black;
        border-radius: 8px;

        .league--table {
          width: 100%;
          height: 100%;
          padding: 0px 5px;
          display: flex;
          flex-direction: column;
          gap: 0px;

          .header {
            width: 100%;
            height: 40px;

            .table--row {
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              align-items: center;
              width: 100%;
              height: 100%;
              padding-top: 5px;
              padding: 5px;
              .table--cell {
                width: 35px;
                height: 100%;
                font-family: "oswald", sans-serif;
                font-size: 20px;
              }
              .table--cell:nth-child(2) {
                flex: 1;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
              }
            }
          }
          .body {
            flex: 1;
            width: 100%;
            height: auto;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0px 5px;

            .table--row {
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              width: 100%;
              height: 50px;
              margin: 5px 0px;
              .table--cell {
                width: 35px;
                height: 100%;
                font-family: "oswald", sans-serif;
                font-size: 20px;
                display: flex;
                justify-content: center;
                /* align-items: center; */
              }
              .table--cell:nth-child(2) {
                flex: 1;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }

      .shop--partners {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .shop--portal {
          width: 100%;
          height: 500px;
          background-color: #051c2a;
          display: flex;
          flex-direction: column;
          gap: 15px;

          .shop--container {
            flex: 1;
            width: 100%;
            height: 100%;
            background: url("../images/kit.png");
            background-position: center;
            background-size: cover;
            position: relative;
            border-radius: 12px;
            margin-bottom: 10px;
            p {
              position: absolute;
              font-family: "oswald", sans-serif;
              width: 80%;
              font-size: 25px;
              color: white;
              bottom: 20%;
              right: 0%;
              text-align: center;
              font-weight: 600;
            }
          }
          .shop--container:hover {
            background: url("../images/away.png");
            background-position: right;
            background-size: cover;
          }
        }

        .partners {
          flex: 1;
          width: 100%;
          height: 100%;
          background: none;
          display: flex;
          flex-direction: column;
          position: relative;

          .lotus {
            width: 250px;
            height: auto;
            position: absolute;
            top: 30%;
            padding-left: 25px;
            background: white;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
            }
          }
          .seon--sports {
            width: 250px;
            height: 77.3px;
            position: absolute;
            top: 55%;
            right: 0%;
            padding-left: 25px;
            background: white;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .button {
            position: absolute;
            bottom: 5%;
            right: 0%;
            width: 250px;

            button {
              width: 100%;
              height: 100%;
              background: transparent;
              font-family: "poppins", sans-serif;
              font-size: 25px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              color: var(--aux--light);
              cursor: pointer;
              border: none;

              span {
                height: 20px;
                margin-left: 5px;
                width: auto;
                color: white;
              }
            }
            button:active {
              border: none;
            }
          }
        }
      }
    }
  }
  .socials {
    width: 100%;
    height: 350px;
    background-color: none;
    margin-bottom: 25px;
    .social--links {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 100px;
      position: relative;

      .title {
        height: 40px;
        font-family: "Oswald", sans-serif;
        margin-top: 0px;
        padding-top: 5px;
        padding-left: 12px;
        color: var(--aux);
        font-size: 35px;
        font-weight: 600;
      }
      .links--tray {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 30px;

        .link {
          list-style: none;

          img {
            width: 40px;
          }
          img:hover {
            scale: 1.3;
            transition: 0.8s ease-in-out;
          }
        }
      }
    }
  }
  .membership {
    width: 100%;
    height: 510px;
    background-color: none;
    margin-bottom: 12.5px;

    .join--container {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .title {
        height: 40px;
        font-family: "Oswald", sans-serif;
        margin-top: 0px;

        padding-left: 12px;
        color: var(--aux);
        font-size: 35px;
        font-weight: 600;
      }

      .membership--portal {
        flex: 1;
        width: 100%;
        height: 95%;
        background-image: url("../images/shanks.jpg");
        position: relative;
        background-position: center;
        background-size: cover;
        border-radius: 12px;

        .button {
          width: 250px;
          height: 50px;
          background: none;
          position: absolute;
          bottom: 5%;
          right: 5%;

          button {
            width: 100%;
            height: 100%;
            border-radius: 100px;
            font-family: "poppins", sans-serif;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #051c2a;
            color: #f075be;
          }
          button:hover {
            color: white;
            transition: 0.5s ease-in-out;
            scale: (0.9);
          }
          button:active {
            border: none;
          }
        }
      }
    }
    .membership--portal:hover,
    :active {
      scale: 1;
      border: none;
    }
  }
}
